<div class="card">

  <div class="card-header">

    <h2>Login</h2>

  </div>

  <form id="loginform" class="card-body">

    <div>

      <label for="usernameinput">Username</label>

      <input type="text" id="usernameinput" />

    </div>

    <div>

      <label for="passwordinput" class="form-label">Password</label>

      <input type="password" id="passwordinput" />

    </div>

    <button type="submit" id="login-btn" class="btn">Login</button>

    <a type="button" href="/signup">Sign Up</a>

  </form>

</div>

<script src="/javascript/Login.js"></script>