<div class="card">

  <div class="card-header">

    <h2>Sign Up</h2>

  </div>

  <div id="signup" role="tabpanel">

    <form id="signup" class="card-body">

      <div>

        <label for="userinputSU">Username</label>

        <input type="text" id="userinputSU" />

      </div>


      <div>

        <label for="passinputSU">Password</label>

        <input type="password" id="passinputSU" />

      </div>

      <button type="submit" id="signup-btn" class="btn" >Signup</button>

      <a href="/login">Login</a>

    </form>

  </div>

</div>

<script src="/javascript/UserSignup.js"></script>